In [65]:
root = open(
    "D:\Chatbot\Chatbot-University-Consultancy\data\invest_nlu_export.json", 'r', encoding="UTF-8")
root_lines = root.readlines()
print(len(root_lines))

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\Chatbot\\Chatbot-University-Consultancy\\data\\invest_nlu_export.json'

In [ ]:
ls

entities.csv*  get_data.ipynb*

In [3]:
pip install pandas

Collecting pandas
  Using cached pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
Collecting numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10"
  Downloading numpy-1.21.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 272 kB/s eta 0:00:01
Collecting pytz>=2017.3
  Downloading pytz-2022.2.1-py2.py3-none-any.whl (500 kB)
     |████████████████████████████████| 500 kB 545 kB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /home/admin/Desktop/bagsnlp/Chatbot_AIA/env/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/admin/Desktop/bagsnlp/Chatbot_AIA/env/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.21.6 pandas-1.3.5 pytz-2022.2.1
WARNING: You are using pip version 20.1.1; however, version 22.2.2 is available.
You should consider upgrading via the '/home/admin/Desktop/bagsnlp/Chatbot_AIA/env/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [51]:
import pandas as pd
df = pd.read_csv("entities.csv", encoding="utf-8")
df.head()

,major_name,type_edu,point,career,tuition,subject_group,criteria
0,kỹ thuật điện,chính quy@đại trà@kỹ sư tài năng,21.0,thiết kế thiết bị điện và điện tử công suất@th...,550.000đ,A00@A01,110
1,kỹ thuật hóa học,chính quy@đại trà@kỹ sư tài năng,21.5,quản lý vận hành và vận hành các hệ thống thiế...,550.000đ,B00@D07,130
2,kỹ thuật hàng không,chất lượng cao@tiên tiến,23.0,quản lý điều hành hoạt động bảo dưỡng máy bay@...,550.000đ,A01@A00,190
3,công nghệ may,chính quy@đại trà,24.0,thiết kế trong các dây chuyền sản xuất@thiết k...,550.000đ,A01@D07,230
4,công nghệ sinh học,chính quy@đại trà@kỹ sư tài năng,25.5,nghiên cứu trong phòng thí nghiệm ở các trường...,550.000đ,B00@A01,290

In [55]:
point = 20
rows = df[df['point'] <= point]
major_names = rows['major_name']
major_names= list(major_names)

In [56]:
len(major_names)

0

In [ ]:
def response_list_product(list):
    return '\n'.join('{}'.format(item) for item in list)

In [ ]:
subject_group='A01'

In [ ]:
df_tmp = df[['subject_group','major_name']]
df_tmp

   subject_group                           major_name
0        A00@A01                        kỹ thuật điện
1        B00@D07                     kỹ thuật hóa học
2        A01@A00                  kỹ thuật hàng không
3        A01@D07                        công nghệ may
4        B00@A01                   công nghệ sinh học
5        A01@A00  logistics và quản lý chuỗi cung ứng
6          A00@a                    khoa học máy tính
7        A00@A01                    kỹ thuật máy tính
8        A00@A01              công nghệ kỹ thuật ô tô
9        A01@A00          kỹ thuật điện tử viễn thông
10       D07@A01                  kỹ thuật cơ điện tử
11       A00@A01   kỹ thuật điều khiển và tự động hóa

In [64]:
[item[1] if subject_group in item[0] else None for item in df_tmp.values]

['kỹ thuật điện',
 None,
 'kỹ thuật hàng không',
 'công nghệ may',
 'công nghệ sinh học',
 'logistics và quản lý chuỗi cung ứng',
 None,
 'kỹ thuật máy tính',
 'công nghệ kỹ thuật ô tô',
 'kỹ thuật điện tử viễn thông',
 'kỹ thuật cơ điện tử',
 'kỹ thuật điều khiển và tự động hóa']

In [2]:
from underthesea import word_tokenize

In [4]:
word_tokenize("cái cốc nhỏ xinh xinh")

['cái', 'cốc', 'nhỏ', 'xinh xinh']

In [68]:
result = []
for item in df_tmp.values:
    if subject_group in item[0]:
        result.append(item[1])

In [80]:
import random

foo = ['a', 'b', 'c', 'd', 'e']
print(random.choice(foo))

b

In [4]:
f = open("../data/nlu.yml",'r',encoding="UTF-8")
intents = open('../convert/intents.txt','w',encoding="UTF-8")
lines = f.readlines()
for i in range(len(lines)):
    if '- intent: 'in lines[i]:
        intents.write("- "+lines[i].replace('- intent: ',''))

f.close()
intents.close()

In [14]:
response_list_product(major_names)

'kỹ thuật điện\nkhoa học máy tính\nkỹ thuật cơ điện tử'

In [2]:
f = open('examples.txt', 'w', encoding='utf-8')
for line in root_lines:
    f.write(line.split(',')[-2].replace('"text":"','').replace('"',''))
    f.write('\n')

In [1]:
s = 'a1'
subjects = 'a1@a2@d2'
print(s in subjects)

True

In [8]:
major_name = list(df.major_name)
len(major_name)

12

In [11]:
f = open("major_info.txt", 'w', encoding="UTF-8")
for major in major_name:
    f.write('    - cho hỏi ngành ['+str(major)+"](major_name)"+'\n')
f.close()

In [47]:
f = open("major_type_edu.txt", 'w', encoding="UTF-8")
for major in major_name[:17]:
    f.write('Cho em hỏi ngành ['+str(major)+"](major_name) đào tạo những hệ nào ạ"+'\n')
for major in major_name[17:]:
    f.write('Ngành ['+str(major) +
            "](major_name) đào tạo những hệ nào ạ"+'\n')

In [49]:
f = open("major_point.txt", 'w', encoding="UTF-8")
for major in major_name[:10]:
    f.write('Cho em hỏi ngành ['+str(major) +
            "](major_name) năm nay lấy bao nhiêu điểm ạ"+'\n')
for major in major_name[10:20]:
    f.write('Điểm sàn ngành ['+str(major) +
            "](major_name)"+'\n')
for major in major_name[20:]:
    f.write('Năm nay ngành ['+str(major) +
            "](major_name) lấy bao nhiêu điểm ạ"+'\n')

In [54]:
f = open("major_career.txt", 'w', encoding="UTF-8")
for major in major_name[:17]:
    f.write('Cho em hỏi cơ hội làm việc của ngành ['+str(major) +
            "](major_name)"+'\n')
for major in major_name[17:]:
    f.write('Học xong ngành ['+str(major) +
            "](major_name) thì làm gì"+'\n')

In [58]:
f = open("major_tuition.txt", 'w', encoding="UTF-8")
for major in major_name:
    f.write('Học phí của ngành ['+str(major) +
            "](major_name)"+'\n')

In [62]:
f = open("major_subject_group.txt", 'w', encoding="UTF-8")
for major in major_name[:17]:
    f.write('Em muốn học ngành ['+str(major) +
            "](major_name) thì theo khối gì ạ"+'\n')
for major in major_name[17:]:
    f.write('Ngành ['+str(major) +
            "](major_name) thi khối gì"+'\n')

In [68]:
f = open("major_criteria.txt", 'w', encoding="UTF-8")
for major in major_name[:10]:
    f.write('Cho em hỏi ngành ['+str(major) +
            "](major_name) năm nay lấy bao nhiêu chỉ tiêu"+'\n')
for major in major_name[10:20]:
    f.write('Chỉ tiêu ngành ['+str(major) +
            "](major_name)"+'\n')
for major in major_name[20:]:
    f.write('Ngành ['+str(major) +
            "](major_name) của trường mình nhận bao nhiêu sinh viên ạ"+'\n')

In [10]:
with open("majors.txt",'r',encoding='utf8') as f:
    lines = f.readlines()

with open("major_info.txt",'a',encoding='utf8') as f:
    for major in lines:
        f.write('    - cho hỏi về ngành ['+str(major.strip().lower())+"](major_name)"+'\n')

In [9]:
look_up_dict = {
        "A00": ['A','A00','A0','a','a00','a0'],
        "A01": ['A1','A01','a1','a01'],
        "B00": ['B','B0','B00','b','b0','b00'],
        "D07": ['D','D7','D07','d','d7','d07'],
        "C01": ['C','C01','c','c01'],
        }

In [10]:
subject = []
for value in look_up_dict.values():
    subject+=value
subject

['A',
 'A00',
 'A0',
 'a',
 'a00',
 'a0',
 'A1',
 'A01',
 'a1',
 'a01',
 'B',
 'B0',
 'B00',
 'b',
 'b0',
 'b00',
 'D',
 'D7',
 'D07',
 'd',
 'd7',
 'd07',
 'C',
 'C01',
 'c',
 'c01']

context_ask_pass_subject_group    
    - ngành này có tuyển sinh khối [a00](user_subject_group) không ạ
    - em thi khối [a00](user_subject_group) có vào được không ạ

ask_major_name_list_by_subject_group
    - có tuyển sinh khối [A](user_subject_group) không
    - các ngành tuyển sinh khối [A])(user_subject_group)

ask_major_name_list_by_point
    - những ngành nào lấy [15 điểm](user_point) ạ
    - có ngành nào lấy ít hơn [15 điểm](user_point) không ạ

context_ask_pass_point
    - ngành này [15 điểm](user_point) có vào được không
    - mình [15 điểm](user_point) có đỗ không ạ

In [ ]:
subject_group

In [48]:
with open('intens.txt','w',encoding='utf-8') as file:
    for item in subject:
        file.write("    - danh sách ngành tuyển sinh khối ["+item+"](user_subject_group)\n")
        file.write("    - các ngành tuyển sinh khối ["+item+"](user_subject_group)\n")
        file.write("    - những ngành nào tuyển sinh khối ["+item+"](user_subject_group) ạ\n")

In [2]:
points = [i for i in range(1,11,1)]
points

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
from random import randint

    - ngành này [15 điểm](user_point) có vào được không
    - mình [15 điểm](user_point) có đỗ không ạ

In [6]:
f = open("point.txt",'w')
for point in points :
    space = randint(1,5)
    for i in range(1,10,space):
        f.write("    - ["+str(point) +","+str(i) +" điểm](user_point) đỗ được những ngành nào\n")
        f.write("    - ["+str(point) +"."+str(i) +" điểm](user_point) đỗ được những ngành nào\n")