In [ ]:
root = open(
    "D:\Chatbot\Chatbot-University-Consultancy\data\invest_nlu_export.json", 'r', encoding="UTF-8")
root_lines = root.readlines()
print(len(root_lines))

In [4]:
ls

entities.csv*  get_data.ipynb*

In [ ]:
pip install pandas

In [37]:
import pandas as pd
df = pd.read_csv("entities.csv", encoding="utf-8")
df.head()

,major_name,type_edu,point,career,tuition,subject_group,criteria
0,kỹ thuật điện,chính quy@đại trà@kỹ sư tài năng,21.0,thiết kế thiết bị điện và điện tử công suất@th...,550000,A00@A01,110
1,kỹ thuật hóa học,chính quy@đại trà@kỹ sư tài năng,21.5,quản lý vận hành và vận hành các hệ thống thiế...,550000,B00@D07,130
2,kỹ thuật hàng không,chất lượng cao@tiên tiến,23.0,quản lý điều hành hoạt động bảo dưỡng máy bay@...,550000,A01@A00,190
3,công nghệ may,chính quy@đại trà,24.0,thiết kế trong các dây chuyền sản xuất@thiết k...,550000,A01@D07,230
4,công nghệ sinh học,chính quy@đại trà@kỹ sư tài năng,25.5,nghiên cứu trong phòng thí nghiệm ở các trường...,550000,B00@A01,290

In [13]:
def response_list_product(list):
    return '\n'.join('{}'.format(item) for item in list)

In [3]:
subject_group='A01'

In [45]:
df_tmp = df[['subject_group','major_name']]
df_tmp

   subject_group                           major_name
0        A00@A01                        kỹ thuật điện
1        B00@D07                     kỹ thuật hóa học
2        A01@A00                  kỹ thuật hàng không
3        A01@D07                        công nghệ may
4        B00@A01                   công nghệ sinh học
5        A01@A00  logistics và quản lý chuỗi cung ứng
6          A00@a                    khoa học máy tính
7        A00@A01                    kỹ thuật máy tính
8        A00@A01              công nghệ kỹ thuật ô tô
9        A01@A00          kỹ thuật điện tử viễn thông
10       D07@A01                  kỹ thuật cơ điện tử
11       A00@A01   kỹ thuật điều khiển và tự động hóa

In [58]:
[if (subject_group in item[0]) for item in df_tmp.values]

[True, False, True, True, True, True, False, True, True, True, True, True]

In [14]:
response_list_product(major_names)

'kỹ thuật điện\nkhoa học máy tính\nkỹ thuật cơ điện tử'

In [2]:
f = open('examples.txt', 'w', encoding='utf-8')
for line in root_lines:
    f.write(line.split(',')[-2].replace('"text":"','').replace('"',''))
    f.write('\n')

In [1]:
s = 'a1'
subjects = 'a1@a2@d2'
print(s in subjects)

True

In [8]:
major_name = list(df.major_name)
len(major_name)

12

In [11]:
f = open("major_info.txt", 'w', encoding="UTF-8")
for major in major_name:
    f.write('    - cho hỏi ngành ['+str(major)+"](major_name)"+'\n')
f.close()

In [47]:
f = open("major_type_edu.txt", 'w', encoding="UTF-8")
for major in major_name[:17]:
    f.write('Cho em hỏi ngành ['+str(major)+"](major_name) đào tạo những hệ nào ạ"+'\n')
for major in major_name[17:]:
    f.write('Ngành ['+str(major) +
            "](major_name) đào tạo những hệ nào ạ"+'\n')

In [49]:
f = open("major_point.txt", 'w', encoding="UTF-8")
for major in major_name[:10]:
    f.write('Cho em hỏi ngành ['+str(major) +
            "](major_name) năm nay lấy bao nhiêu điểm ạ"+'\n')
for major in major_name[10:20]:
    f.write('Điểm sàn ngành ['+str(major) +
            "](major_name)"+'\n')
for major in major_name[20:]:
    f.write('Năm nay ngành ['+str(major) +
            "](major_name) lấy bao nhiêu điểm ạ"+'\n')

In [54]:
f = open("major_career.txt", 'w', encoding="UTF-8")
for major in major_name[:17]:
    f.write('Cho em hỏi cơ hội làm việc của ngành ['+str(major) +
            "](major_name)"+'\n')
for major in major_name[17:]:
    f.write('Học xong ngành ['+str(major) +
            "](major_name) thì làm gì"+'\n')

In [58]:
f = open("major_tuition.txt", 'w', encoding="UTF-8")
for major in major_name:
    f.write('Học phí của ngành ['+str(major) +
            "](major_name)"+'\n')

In [62]:
f = open("major_subject_group.txt", 'w', encoding="UTF-8")
for major in major_name[:17]:
    f.write('Em muốn học ngành ['+str(major) +
            "](major_name) thì theo khối gì ạ"+'\n')
for major in major_name[17:]:
    f.write('Ngành ['+str(major) +
            "](major_name) thi khối gì"+'\n')

In [68]:
f = open("major_criteria.txt", 'w', encoding="UTF-8")
for major in major_name[:10]:
    f.write('Cho em hỏi ngành ['+str(major) +
            "](major_name) năm nay lấy bao nhiêu chỉ tiêu"+'\n')
for major in major_name[10:20]:
    f.write('Chỉ tiêu ngành ['+str(major) +
            "](major_name)"+'\n')
for major in major_name[20:]:
    f.write('Ngành ['+str(major) +
            "](major_name) của trường mình nhận bao nhiêu sinh viên ạ"+'\n')

In [10]:
with open("majors.txt",'r',encoding='utf8') as f:
    lines = f.readlines()

with open("major_info.txt",'a',encoding='utf8') as f:
    for major in lines:
        f.write('    - cho hỏi về ngành ['+str(major.strip().lower())+"](major_name)"+'\n')